
p {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  font-family: 'Open Sans', sans-serif;
}

#buttonContainer {
    border: 1px solid #ced4da; 
    border-radius: 5px;
    padding: 5px; 
  }
  
.navbar{
    background-color: #12486B;
}

.navbar-brand{
  color: #ffffff;
}

.btn-edit{
  background-color: #12486B;
  color: #ffffff;
}

.btn-edit:hover{
  background-color: #000;
  color: #ffffff;
}


